<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
    </head>

    <body>
        <h1>Bem-vindo, <%= user.email %>!</h1>
        <h2>Notícias de hoje <%= noticiaDocRef.titulo %></h2>
        <form></form>
    </body>

</html>